@import url('https://fonts.googleapis.com/css?family=Baloo');

// -------- VARIABLES -------- //

$body-font: "Helvetica Neue";
$header-font: "Baloo";
$primary-color: rgba(0, 123, 255, 1);
$highlight-color: rgba(255, 38, 28, 1);
$dim-color: rgba(211, 211, 211, 1);


// -------- ALL VIEWS -------- //

body{
  font-family: $body-font;
}
.btn-primary{
  border-color: $dim-color;
}
.btn-primary{
  &:hover {
    color: #fff;
    background-color: $highlight-color;
    border-color: $highlight-color;
    transition: .3s ease;
  }
}

// -------- DESKTOP VIEW-------- //

section#index-page{
  .container{
    display: block;
  }
  .navbar-brand{
    font-family: $header-font;
  }
  .pokemon-unordered-list{
    display: flex;
    flex-wrap: wrap;
    li{
      list-style: none;
      text-align: center;
      padding: 0.5em;
      width: 33%;
    }
  }
  .search-bar{
    form{
      .search-results{
        li{
          background: white;
          padding: 0.5em;
          border: 1px solid lightgray;
        }
      }
    }
  }
}

section#pokemon-page{
  h1{
    display: inline-block;
    font-family: $header-font;
    color: $primary-color;
    border-bottom: 2px solid $dim-color;
    font-size: 2.7em;
  }
}

// -------- MOBILE VIEW -------- //
@media only screen and (max-width: 768px){
  section#index-page{
      .container{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
