@import url('https://fonts.googleapis.com/css?family=Baloo'); 
  body {
    font-family: "Helvetica Neue";
    color: red; }

    section#index-page .navbar-brand {
      font-family: "Baloo"; }
      section#index-page .pokemon-unordered-list {
        display: flex;
        flex-wrap: wrap; }
        section#index-page .pokemon-unordered-list li {
          list-style: none;
          text-align: center;
          padding: 1em;
          width: 33%; }

  section#pokemon-page .pokemon-header-name {
    font-family: "Baloo"; }

  @media only screen and (max-width: 768px) {
    section#pokemon-page .favorites-buttons {
      float: none !important;   }
}
