@import url('https://fonts.googleapis.com/css?family=Baloo'); 
  body {
    font-family: "Helvetica Neue"; }

    .btn-primary {
      border-color: lightgrey; }

      .btn-primary:hover {
        color: #fff;
        background-color: #ff261c;
        border-color: #ff261c;
        transition: 0.3s ease; }

  section#index-page .container {
    display: block; }
    section#index-page .navbar-brand {
      font-family: "Baloo"; }
      section#index-page .pokemon-unordered-list {
        display: flex;
        flex-wrap: wrap; }
        section#index-page .pokemon-unordered-list li {
          list-style: none;
          text-align: center;
          padding: 0.5em;
          width: 33%; }
  section#index-page .search-bar form .search-results li {
    background: white;
    padding: 0.5em;
    border: 1px solid lightgray; }

  section#pokemon-page h1 {
    display: inline-block;
    font-family: "Baloo";
    color: #007bff;
    border-bottom: 2px solid lightgrey;
    font-size: 2.7em; }

  @media only screen and (max-width: 768px) {
    section#index-page .container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;   }
      section#index-page form {
        display: flex;
        flex-direction: column;
        align-items: center;   }
}
