@import url('https://fonts.googleapis.com/css?family=Baloo'); 
  body {
    font-family: "Helvetica Neue"; }

    section#index-page .navbar-brand {
      font-family: "Baloo"; }
      section#index-page ul {
        list-style: none; }
        section#index-page ul li {
          text-align: center;
          padding: 1em; }

  section#pokemon-page .pokemon-header-name {
    font-family: "Baloo"; }

  @media only screen and (max-width: 768px) {
    section#pokemon-page .favorites-buttons {
      float: none !important;   }
}
