{% extends "layout.html" %}

{% block main %}
  <section id="favorites-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 style="margin: 1em 0em; display: flex; justify-content: center;">YOUR FAVORITES</h2>
          <ul>
            <li>pokemon</li>
            <li>pokemon</li>
            <li>pokemon</li>
            <li>pokemon</li>
            <li>pokemon</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
    
    
{% endblock %}
