<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {{ JSGlue.include() }}
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <title>C$50 Final Project</title>
    </head>
    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>