<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <title>pokéSTATS | Get information and statistics for each Pokemon</title>
        <link rel='shortcut icon' type='image/x-icon' href='./static/favicon.png'/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" defer></script>
        {{ JSGlue.include() }}
        <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>

    </head>
    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>