{% extends "layout.html" %}

{% block main %}
  <section id="pokemon-page">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <ul class="list-unstyled list-inline mt-5">
            <li class="list-inline-item"><h1 class="text-uppercase">Pikachu</h1></li>
            <li class="list-inline-item float-right favorites-buttons" style="padding: 0.5em 0em;">
              <a href="#" class="btn btn-primary"><span style="font-size: 1em; padding: 0.5em 0.5em;">+ADD TO FAVORITES</span></a>
              <a href="/favorites" class="btn btn-outline-success"><span style="font-size: 1em; padding: 0.5em 0em;">VIEW FAVORITES</span></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" style="padding: 2em 0em;">
        <div class="col-md-4">
          <img src="https://i.pinimg.com/736x/2f/a6/fa/2fa6fa2b399f3d85d8f403d4ac5ec666--centro-pokemon-amigurumi-patterns.jpg" alt="POKEMON IMAGE PLACEHOLDER" width="200"class="border">
        </div>
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium accusamus natus, velit obcaecati omnis odit perspiciatis culpa rerum, quaerat aperiam et reiciendis inventore adipisci dolorum consequatur repellat. Odit animi, ex.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium accusamus natus, velit obcaecati omnis odit perspiciatis culpa rerum, quaerat aperiam et reiciendis inventore adipisci dolorum consequatur repellat. Odit animi, ex.</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h2 class="mt-4">PIKACHU'S SKILLS</h2>
          {{div_placeholder}}
        </div>
      </div>
      
    </div>
  </section>
    
    
{% endblock %}
