{% extends "layout.html" %}

{% block main %}
  <section id="pokemon-page">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <ul class="list-unstyled list-inline mt-5">
            <li class="list-inline-item"><h1 class="text-capitalize pokemon-name">Pokemon Name</h1></li>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" style="padding: 2em 0em;">
        <div class="col-md-4" style="text-align: center; padding: 2em;">
          <img alt="POKEMON IMAGE PLACEHOLDER" width="200" class="border pokemon-image">
        </div>
        <div class="col-md-8">
          <p class="pokemon-description"></p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h2 class="mt-4 pokemon-skills text-capitalize">Pokemon's Skills</h2>
          {{div_placeholder}}
        </div>
      </div>
      
    </div>
  </section>
    
    
{% endblock %}
