{% extends "layout.html" %}

{% block main %}
  <section id="pokemon-page">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <ul class="list-unstyled list-inline mt-5">
            <li class="list-inline-item"><h1 class="text-capitalize pokemon-name">{{selected_pokemon}}</h1></li>
            </li>
          </ul>
        </div>
      </div>

      <div class="row d-flex align-items-center" style="padding: 2em 0em;">
        <div class="col-md-4" style="text-align: center; padding: 2em;">
          <img src={{data.sprites.front_default}} alt="POKEMON IMAGE PLACEHOLDER" width="200" class="border pokemon-image">
        </div>
        <div class="col-md-8">
          <h3 class="pokemon-description" style="font-size: 1.15rem; line-height: 30px;">{{summary}}</h3>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h1 class="mt-4 text-capitalize">{{selected_pokemon}}'s Skills</h1>
          {{div_placeholder}}
        </div>
      </div>
      
    </div>
  </section>
    
    
{% endblock %}
